html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


.navbar {
    height: 60px;
    background: #131921;
    display: flex;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
    justify-content: space-between;
}

.location-bar {
    display: flex;
    align-items: center;
    background-color: #131921;
    color: white;
    flex: 1;
    margin-bottom: 5px;
    padding: 0px -5px;
    font-family: Arial, sans-serif;
}

.location-icon {
    font-size: 15px;
    color: #cccccc;
    margin-right: 10px;
}

.location-text .delivery-label {
    font-size: 12px;
    color: #cccccc;
    display: block;
}

.location-text .update-location {
    font-size: 14px;
    font-weight: bold;
    color: white;
    display: block;
    cursor: pointer;
}

.En-lang {
    display: flex;
    gap: 4px;
    align-items: center;
    margin-left: 5px;
}

.En-lang #inda-flag {
    height: 30px;
    width: 30px;
    background-size: cover;
}


.navbar,
img {
    height: 70px;
    background-size: cover;
}

.navbar #logo-nav {
    margin-top: 10px;
}

.navbar .in {
    font-size: 15px;
    font-family: sans-serif;
    margin-top: -2px;
    margin-left: -20px;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 4px;
  padding: 0 8px;
  width: 600px; 
  height: 45px; 
}

.search-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 14px;
}

.search-bar .fa-magnifying-glass {
    background: #f0c14b;
    padding: 15px 28px 27px 20px;
    margin: 10px -10px 10px 0px;
    width: 22px;
    border-radius: 0px 4px 4px 0px;
    font-size: 16px;
    height: 45px;
}


.return,
h4 {
    color: rgb(0, 0, 0);
    font-size: 16px;

}

.nav {
    margin-right: 20px;
}


.nav h4 {
    color: #ffffff;
    font-size: 14px;
}

.page {
    margin-left: 30px;
    /* background: red; */
    width: 60px;
    /* margin-top: 0px; */
    margin-right: 20px;
}

@media screen and (max-width: 768px) {
    .page {
        margin-left: 0;
    }
}


.page a {
    color: white;
    font-weight: 700;
    font-size: 14px;
}


.prime {
    font-size: 14px;
    margin-right: 10px;
}

.prime h4 {
    color: #ffffff;
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    .nav {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .prime {
        display: none;
    }
}

@media screen and (min-width: 656px) {
    .nav {
        display: block;
    }

    .prime {
        display: block;
    }
}


span {
    font-size: 0.7rem;
    color: rgb(255, 255, 255);
}

.cart {
    width: 70px;
    padding-left: 10px;
    height: 30px;
}

@media screen and (max-width: 768px) {
    .cart {
        padding-left: 0;
    }

    .cart span {
        display: none;
    }
}

.cart i {
    font-size: 22px;
    margin-top: 7px;
    margin-right: 20px;
    width: 10px;
    color: #ffffff;
}

.cart span {
    color: #ffffff;
    text-decoration: underline;
    font-size: 18px;
    margin: 15 30px;
}


.main-container {
    padding: 20px;
}

/* under-section */

.under-heading ul {
    background: #232F3E;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.under-heading li {
    font-size: 14px;
    padding: 10px;
    font-weight: bolder;
    color: white;
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 px 0 0px;
}

.under-heading .fa-list-ul{
    color: #a88b22; 
    margin-right: 10px;
}

/**bannerr section**/

.banner-section {
    background-image: url(logo-banner/amazonbanner.jpg);
    height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
}



@media screen and (max-width: 768px) {
    .banner-section {
        width: 600px;
        height: 500px;
        transition: 0.3s ease-in-out;
    }
}

@media screen and (min-width: 656px) {
    .banner-section {
        width: 100%;
        transition: 0.3s ease-in-out;
    }
}



header,
.main-container,
.banner-section,
.image-container,
.image-container2,
.image-container3,
.image-container4 {
    padding: 0;
    margin: 0;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-container,
.image-container2,
.image-container3,
.image-container4 {
    width: 100%;
    object-fit: contain;
    display: flex;
    justify-content: center;
}




/**main container*/

.main-container {
    position: relative;
    bottom: 290px;
}

.image-container div,
.image-container2 div,
.image-container3 div,
.image-container4 div {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    padding: 10px;
}

.image-container button:hover,
.image-container2 button:hover,
.image-container3 button:hover,
.image-container4 button:hover {
    background-color: #f1ab12;
}


/**first row**/

.image-container div {
    justify-content: space-evenly;
    width: 420px;
    padding-top: 20px;
    padding-right: 0px;
    padding-left: 15px;
    background: white;
    box-shadow: 1px 1px 10px #000;
    border-radius: 6px;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
}



.image-container img {
    width: 300px;
    height: 280px;
    object-fit: contain;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}

#rate {
    display: flex;
    font-size: 15px;
}

.image {
    max-width: 1200px;
    max-height: 150px;
    object-fit: contain;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}


.image-container p {
    font-size: 15px;
    font-family: arial;
}



.image-container button {
    background: #FFCE12;
    padding: 8px 14px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 2px;
    border: none;
    align-items: center;
    justify-content: center;
    margin-left: 32%;
    margin-bottom: 20px;
}



.image-container .js-added {
    opacity: 5;
    transition: opacity 0.5s ease-in-out;
    margin-left: -28px;
    padding: 0;
    position: relative;
    bottom: 15px;
    background: none;
    overflow: hidden;
    max-width: 100%;
    box-shadow: none;
    text-align: center;
    border-radius: 5px;
    font-size: 18px;
    color: green;
}

.added-visible {
    opacity: 5;
}

/**second row**/

.image-container2 div {
    justify-content: space-evenly;
    width: 310px;
    height: 480px;
    padding: 20px;
    background: white;
    box-shadow: 1px 1px 10px #000;
    border-radius: 6px;
}

.image-container2 img {
    align-items: center;
    justify-content: center;
}


.image-container2 {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
}

.image-container2 p {
    font-size: 15px;
    font-family: arial;
}

.image-container2 #blue {
    width: 250px;
    height: 250px;
    object-fit: contain;
    margin-top: 20px;
    margin-left: 10px;
}


.image-container2 #red {
    width: 270px;
    height: 250px;
    object-fit: contain;
    margin-top: 29px;
    margin-right: 20px;
}


.image-container2 button {
    background: #FFCE12;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    font-size: 14px;
    padding: 8px 14px;
    font-weight: bold;
    margin-left: 80px;
}


.image-container2 .js-display1 {
    opacity: 5;
    transition: opacity 0.5s ease-in-out;
    margin-left: -20px;
    padding: 0;
    position: relative;
    /* bottom: 5px; */
    background: none;
    overflow: hidden;
    /* width: 115%; */
    height: 30px;
    object-fit: contain;
    box-shadow: none;
    text-align: center;
    border-radius: 5px;
    font-size: 18px;
    color: green;
}

.added-visible-js {
    opacity: 5;
    color: green;
}

/**third row**/

.image-container3 div {
    justify-content: space-evenly;
    width: 640px;
    padding: 20px;
    background: white;
    box-shadow: 1px 1px 10px #000;
    border-radius: 6px;
}


.image-container3 img {
    width: 230px;
    height: 210px;
    object-fit: contain;
    align-items: center;
    justify-content: center;
    margin-left: 120px;
}


.image-container3 {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
}

.image-container3 p {
    font-size: 15px;
    font-family: arial;
}


.image-container3 button {
    background: #FFCE12;
    padding: 8px 14px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 2px;
    border: none;
    align-items: center;
    justify-content: center;
    margin-left: 30%;
}

.image-container3 .js-display3 {
    opacity: 5;
    transition: opacity 0.5s ease-in-out;
    margin-left: -85px;
    padding: 0;
    position: relative;
    background: none;
    overflow: hidden;
    height: 30px;
    object-fit: contain;
    box-shadow: none;
    text-align: center;
    border-radius: 5px;
    font-size: 18px;
    color: green;
}

/**forth row**/

.image-container4 div {
    width: 97%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: -279px;
    background: white;
    box-shadow: 1px 1px 10px #000;
    border-radius: 6px;
}

.image-container4 img {
    max-width: 50%;
    height: auto;
    object-fit: contain;
    overflow: hidden;
    align-self: center;
}

.image-container4 {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
}

.image-container4 p {
    font-size: 15px;
    font-family: arial;
}

.image-container4 button {
    background: #FFCE12;
    padding: 8px 14px;
    font-weight: bold;
    border-radius: 2px;
    border: none;
    height: auto;
    object-fit: contain;
    overflow: hidden;
    align-self: center;
    justify-content: center;
    margin-top: 4%;
    cursor: pointer;
}

.image-container4 .js-display4 {
    opacity: 5;
    transition: opacity 0.5s ease-in-out;
    margin-left: -20px;
    padding: 0;
    position: absolute;
    bottom: 65px;
    background: none;
    overflow: hidden;
    height: 30px;
    width: 50%;
    object-fit: contain;
    box-shadow: none;
    text-align: end;
    border-radius: 5px;
    font-size: 18px;
    color: green;
}

.added-visible-js4 {
    opacity: 5;
    color: green;
}


/**login page****/

.login-container2 {
    width: 800px;
    padding: 40px;
    background-color: #ffffff;
    margin-left: 10%;
    margin-right: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .login-container2 {
        margin-left: 0;
        margin-right: -10px;
        max-width: 800px;
        position: absolute;
        right: 30px;
        height: auto;
    }

}

.login-container2 h2 {
    font-size: 24px;
    margin-bottom: 40px;
    margin-left: 24px;
    text-align: center;
}

.login-container2 label {
    font-size: 15px;
    display: block;
    margin-left: 18px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: -25px;
}

.login-container2 input[type="email"],
.login-container2 input[type="password"] {
    width: 50%;
    padding: 7px;
    margin-bottom: 0px;
    margin-right: -42%;
    border: 1px solid #000000;
    border-radius: 2px;
    box-sizing: border-box;
    cursor: text;
}

.login-container2 button[type="button"] {
    width: 50%;
    height: 42px;
    padding: 15px;
    margin-left: 42%;
    background-color: #f0c14b;
    border: 1px solid #a88734;
    border-radius: 2px;
    cursor: pointer;
    font-family: arial;
    font-size: 14px;
    font-weight: 700;
}

@media screen and (max-width: 601px) {
    .login-container2 #submit-error {
        position: absolute;
        bottom: 218px;
        left: 500px;
    }
}

@media screen and (min-width: 1366px) {
    .login-container2 #submit-error {
        position: absolute;
        bottom: 330px;
        left: 620px;
    }
}


.box {
    background: rgb(233, 231, 231);
    padding: 18px;
    width: 360px;
    font-size: 15px;
    margin-right: 20%;
    margin-left: 46.4%;
    margin-top: 16px;
}


.login-container2 label[for="email"] {
    font-size: 15px;
    display: block;
    background: rgb(255, 255, 255);
    margin-left: -8px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: -25px;

}

.login-container2 button[type="button"]:hover {
    background-color: hsl(42, 76%, 59%);
    cursor: pointer;
}

.box2 {
    background: rgb(201, 198, 198);
    padding: 7px;
    width: 360px;
    font-size: 15px;
    margin-right: 20px;
    margin-left: 46.4%;
    cursor: pointer;
}

.search-input::placeholder {
    color: #00000056;
    position: absolute;
    left: 7px;
    opacity: 6;
    font-family: Amazon Ember, Arial, sans-serif;
}

.login-container2 span {
    color: red;
    position: relative;
    bottom: 25px;
    left: 40%;
    font-size: 11px;
    font-family: Arial;
}

@media screen and (max-width: 601px) {
    .login-container2 #email-error i {
        margin-left: 40px;
    }
}

@media screen and (min-width: 1366px) {
    .login-container2 #email-error i {
        margin-left: 40px;
    }
}

.login-container2 #password-error {
    position: absolute;
    top: 39%;
    right: 22%;
}

.login-container2 span i {
    color: seagreen;
    font-size: 15px;
}

@media screen and (max-width: 601px) {
    .login-container2 #password-error {
        /* max-width: 10%; */
        position: relative;
        bottom: 42px;
        left: 215px;
    }

    .login-container2 #password-error i {
        margin-left: 185px;
    }
}

@media screen and (min-width: 1366px) {
    .login-container2 #password-error {
        position: relative;
        bottom: 42px;
        left: 215px;
    }

    .login-container2 #password-error i {
        margin-left: 185px;
    }
}

/**cart page***/

.shopping {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 125px;
    background-color: #ffffff;
}

.shop {
    color: #000000;
    font-weight: 700;
    font-family: arial;
    font-size: 12px;
    margin: 0 10px;
    margin-top: 20px;
}

/**subtotal**/

.total {
    margin-left: 60%;
    margin-top: 20px;
    font-family: arial;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: contain;
}

.total p {
    margin-left: 2px;
    margin-top: 24px;
}


.total small {
    font-weight: 400;
    font-size: 14px;
}

.total button {
    padding: 4px 10px;
    border-radius: 1px;
    border: 1px solid black;
    margin-left: 10px;
    background: #f0c14b;
    font-weight: bold;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .total {
        position: absolute;
        margin-left: 10%;
        margin-top: 70px;
    }
}


/**cart items*/

.js-container,
.js-container-two,
.js-container-three,
.js-container-four {
    display: flex;
    align-items: center;
    max-width: 70%;
    overflow: hidden;
    justify-content: space-between;
    padding: 40px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
    height: 280px;
    box-shadow: 2px 4px 10px #777;
}


@media screen and (max-width: 1144px) {

    .js-container,
    .js-container-two,
    .js-container-three,
    .js-container-four {
        position: absolute;
        top: 90px;
        transition: 0.3s ease-in-out;
        max-width: 100%;
    }
}



.js-container,
.js-container-two,
.js-container-three,
.js-container-four {
    /* remove */
    position: relative;
    bottom: 200px;
}



.photo img,
.photo-two img,
.photo-three img,
.photo-four img {
    width: 160px;
    height: auto;
    border-radius: 5px;
}

.details,
.details-two,
.details-three,
.details-four {
    flex-grow: 1;
    margin-left: 20px;
}

.details span,
.details-two span,
.details-three span,
.details-four span {
    font-size: 17px;
    color: rgb(0, 0, 0);
    font-weight: 600;
}


.product-name,
.product-name-two,
.product-name-three,
.products-name-four {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.rating,
.rating-two,
.rating-three,
.rating-four {
    display: flex;
    margin-top: 5px;
}

.rating span,
.rating-two span,
.rating-three span,
.rating-four {
    margin-right: 2px;
    font-size: 18px;
    margin-top: 20px;
}

.price,
.price-two,
.price-three,
.price-four {
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
}

.remove-button,
.remove-button-two,
.remove-button-three,
.remove-button-four {
    margin-top: 20px;
    margin-left: 20px;
    padding: 5px 10px;
    background-color: #f0c14b;
    border: 1px solid #a88734;
    border-radius: 1px;
    cursor: pointer;
    object-fit: contain;
    font-size: 14px;
    font-weight: bold;
}

.remove-button:hover,
.remove-button-two:hover,
.remove-button-three:hover,
.remove-button-four:hover {
    background-color: #e2ac37;
}


footer #top {
    background: #485769;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
}

footer #back {
    text-decoration: none;
}

footer #top:hover {
    background: #50637a;
}

.footer-nav {
    background: #232F3E;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px;
    gap: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-nav ul li {
    list-style: none;
    color: #ffff;
    font-family: sans-serif;
    font-size: 14px;
    margin-bottom: 13px;
}

.footer-nav a {
    text-decoration: none;
}

.footer-nav a:hover {
    text-decoration: underline;
    color: white;
}

.footer-nav #head-1,
#head-2,
#head-3,
#head-4 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 12px;
}

.language-logo {
    background: #232F3E;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 15px;
}

.language-logo #footer-logo {
    height: 60px;
    width: 86px;
    object-fit: contain;
    margin-top: 10px;
}

.language-logo #language {
    font-size: 10px;
    border-radius: 6px;
    color: #ffffff;
}

.language-select {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 2px;
    border: 1px solid #ccc;
    width: fit-content;
    border-radius: 4px;
    color: #ffffff;
    background-color: #232F3E;
}

.language-select i {
    font-size: 16px;
    color: #ffffff;
    margin-left: 4px;
}

.language-select select {
    padding: 6px;
    font-size: 16px;
    border: none;
    background-color: transparent;
    outline: none;
    color: #fcf6f6;
}

.language-logo .india {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    padding: 2px 25px 0px 15px;
    border: 1px solid #ccc;
    color: #ffff;
}


.language-logo #india-logo {
    height: 25px;
    width: 25px;
    object-fit: cover;
}

.language-logo .india #country {
    font-size: 12px;
}

.new-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin-top: 50px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.new-user #new-cus {
    color: #000;
    margin-top: 10px;
}

.new-user #sign {
    padding: 10px 7%;
    font-size: 12px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
    background: #FFCE12;
}

.new-user button {
    border: none;
    cursor: pointer;
    background: #FFCE12;
}


footer .grid-container {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 100px)); */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(2, 200fr);
    column-gap: 10px;
    row-gap: 10px;
    background: #131A22;
    padding: 30px 15%;
}

.grid-container .child-container a {
    text-decoration: none;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
}

.grid-container .child-container a:hover {
    text-decoration: underline;
}

.grid-container .child-container #grey {
    color: grey;
}

footer .condition {
    background: #131A22;
    font-size: 14px;
    padding: 40px;
}

footer .condition .link {
    display: flex;
    justify-content: center;
    font-size: 13px;
    align-items: center;
    margin-bottom: 5px;
}


footer .condition a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer .condition a:hover {
    text-decoration: underline;
}

footer .condition p {
    color: #fff;
    font-size: 13px;
    text-align: center;
    margin: 0 40px 0 40px;
}